* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background:linear-gradient( to bottom rgb(191, 91, 107) white) ;
    background-image: url(../images/Rainbow\ frosting.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    
}

#hero-1 h1 {
    font-size: 13vw;
    padding-left: 19vw;
    background-color: rgba(238, 100, 164, 0.785);
    color: white;
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
    
}

.basic-grid-gallery {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:50px;
    padding:30px;
    align-items: center;
}
    
.basic-grid-gallery img {
    align-items: center;
    width: 100%;
}
#layout {
    width: 90vw;
    max-width:1200px;
    margin:10px auto;  
    text-align: center; 
    background-color: rgba(243, 139, 170, 0.844);
}

#layout h2 {
    font-size: 55px;
    color: rgb(14, 246, 246);
}