*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
    "header header"
    "sidebar content"
    ;
}

#header{
    padding: 0px 36px;
    grid-area: header;
}
#header a{
    text-decoration: none;
}
#header #me{
    color: black;
}
#header #tube{
    color: white;
    background-color: rgb(84, 185, 133);
    padding: 4px;
    border-radius: 12px;
}

#sidebar{
    
    grid-area: sidebar;
}
#sidebar ul{
    list-style-type:none;
    padding:12px 0px;
    margin: 0px;
    border-bottom: 1px solid #aaa;
}
#sidebar ul a{
    text-decoration: none;
    color: #111;
    display: block;
    padding: 12px;

}
#sidebar ul a:hover{
    background-color: rgb(215, 184, 237);
    border-radius: 12px;
    opacity: 1;
    
}

#main{
    display: flex;
    grid-area: content;
    flex-wrap: wrap;
    padding: 10px;
}
.metube-item{
    flex:250px;
    margin-right: 12px;
    margin-bottom: 24px;
}
.metube-item .thumbnail{
    border-radius: 8px;
    background: radial-gradient( at top left, rgb(180, 232, 207), 
    rgb(215, 191, 231));
    aspect-ratio: 16/9;
}
#vid1 .thumbnail{
    background-image: url(../images/cs.png);
    background-size: cover;
}
#vid2 .thumbnail{
    background-image: url(../images/lilym.png);
    background-size: cover;
}
#vid3 .thumbnail{
    background-image: url(../images/AL.png);
    background-size: cover;
}
#vid4 .thumbnail{
    background-image: url(../images/atla.png);
    background-size: cover;
}
#vid5 .thumbnail{
    background-image: url(../images/howitsmade.png);
    background-size: cover;
}
#vid6 .thumbnail{
    background-image: url(../images/adobedraw.png);
    background-size: cover;
}
.metube-item h4 {
    text-decoration: none;
    color:#111;
    display:block;
}
.metube-item h4 a:hover{
    text-decoration: underline;
}
.metube-item .video-details{
    margin:8px;
    font-size: 14px;
}
.metube-item .channel{
    margin-bottom: 4px;
}
