/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
div {
    display: block;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.brand-name {
    font-size: 29px;
    margin-left: 86px;
}

.card-style-2 {
    max-width: 365px;
    margin: 20px;
    background-color: white;
    border: 2px solid white;
    border-radius:7%; 
    flex-direction: column;
    padding: 25px;
    
}
.profile-pic-container {
    text-align: center;
}
.card-style-2 img {
    width: 65%;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10%;
    
}

.card-style-2 h2 {
    text-align: center;
}

.card-style-2 p {
    text-align: center;
    font-size: 18px;
}

.animagram-footer {
    margin-top: 10%;
    text-align: center;
    font-size: 24px ;
}

