
* {
    box-sizing:border-box;
}
    
body {
    margin:0px;
    font-family:sans-serif;
}
#navbar,#navbar2,#navbar3 {
    position:sticky;
    top:0px;
}
     
#navbar {
    background:linear-gradient(to bottom,rgb(113, 14, 14),rgb(113, 14, 14),
    rgb(229, 164, 1));
    display:flex;
    justify-content:space-between;
    align-items: center;
}
       
#navbar a {
    text-decoration:none;
    color: white;
    padding:24px;
}
#logo {
    font-size: 65px;
    font-family: cursive;
}

#navbar .cta-button {
    background-color:white;
    color:rgb(113, 14, 14);
    border-radius:36px;
    padding:16px 24px;
    font-size:20px;
    font-weight:bold;
    min-width:150px;
    text-align:center;
    margin-right:24px;
}
#layout {
    width:800px;
    margin:48px auto;
    font-size:24px;
    height:200vh;
}
#layout h1{
    color: rgb(113, 14, 14);
}
#layout a {
    color: rgb(113, 14, 14);
}
#navbar2 {
    background:linear-gradient(to bottom,rgb(0, 34, 18),rgb(13, 81, 51),
    rgb(73, 53, 3));
    display:flex;
    justify-content:space-between;
    align-items: center;
}
#navbar2 a {
    text-decoration:none;
    color: white;
    padding:24px;
}
#logo2 {
    font-size: 65px;
    font-family: cursive;
}

#navbar2 .cta-button {
    background-color:white;
    color:rgb(73, 53, 3);
    border-radius:36px;
    padding:16px 24px;
    font-size:20px;
    font-weight:bold;
    min-width:150px;
    text-align:center;
    margin-right:24px;
}
#layout2 {
    width:800px;
    margin:48px auto;
    font-size:24px;
    height:200vh;
}
#layout2 h1 {
    color: rgb(22, 47, 16);
}
#layout2 h2 {
    color: rgb(4, 69, 40);
}
#navbar3 {
    background:linear-gradient(to bottom,rgb(251, 147, 1),rgb(0, 0, 0),
    rgb(86, 15, 131));
    display:flex;
    justify-content:space-between;
    align-items: center;
}
#navbar3 a {
    text-decoration:none;
    color: white;
    padding:24px;
}
#logo3 {
    font-size: 65px;
    font-family: cursive;
}

#navbar3 .cta-button {
    background-color:white;
    color:rgb(73, 53, 3);
    border-radius:36px;
    padding:16px 24px;
    font-size:20px;
    font-weight:bold;
    min-width:150px;
    text-align:center;
    margin-right:24px;
}
#layout3 {
    width:800px;
    margin:48px auto;
    font-size:24px;
    height:200vh;
}
#layout3 h1 {
    color: rgb(22, 47, 16);
}
#layout3 h2 {
    color: rgb(4, 69, 40);
}
#navbar-bottom {
    background:linear-gradient(to bottom,rgb(86, 15, 131),rgb(0, 0, 0));
    display:flex;
    justify-content:space-between;
}
    
    
#navbar-bottom a {
    text-decoration:none;
    color:white;
    padding:12px 36px;
}
#navbar3-1 {
    background:linear-gradient(to bottom,yellowgreen,olive);
    display:flex;
    justify-content:space-between;
}
#navbar3-1 a {
    font-size: 20px;
    color: white;
    text-decoration:none;
    padding:12px 36px;
}