
* {
    box-sizing:border-box;
}
    
body {
    margin:0px;
    font-family:sans-serif;
}
    
#nav {
    background-color:#222222;
    display:flex;
    justify-content:center;
}

#nav a {
    color:white;
    font-size:18px;
    text-decoration:none;
    padding:20px;
}
    