*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: sans-serif;
}
.center-column {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
    background-color: blanchedalmond;
}

#heading {
    text-align: center;
}
#slogan {
    text-align: center;
    font-size: large;
}
#photo1 {
    width: 100%;
}
#ring1 {
    text-align: center;
    color: rgb(132, 78, 182);
}
#ringphoto7 {
    width: 100%;
    background-color:rgb(206, 169, 241) ;
}
#rp7 {
    text-align: center;
}
#ring2 {
    text-align: center;
    color: rgb(6, 77, 48);
}
#ringphoto4 {
    width: 100%;
    background-color:rgb(206, 169, 241) ;
}
#rp4 {
    text-align: center;
}
#ring3 {
    text-align: center;
    color: rgb(26, 31, 119);
}
#ringphoto5 {
    width: 100%;
    background-color:rgb(206, 169, 241) ;
}
#rp5 {
    text-align: center;
}
#ring4 {
    text-align: center;
    color: rgb(77, 41, 144);
}
#ringphoto6 {
    width: 100%;
    background-color:rgb(149, 118, 178) ;
}
#rp6 {
    text-align: center;
}
#rp7-1,#rp4-1,#rp5-1,#rp6-1 {
    text-align: center;
    color: white;
    background-color: rgb(82, 127, 80);
    padding: 4px;
    border-radius: 12px;
}