*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#heading{
    font-family: cursive;
    text-align: center;
    padding: 30px;
    background-color: blanchedalmond;
    border: 2px solid black;
}
h3{
    font-size: small;
}
#ring1{
    text-align: center;
    font-family: cursive;
    font-size: large;
    color: rgb(103, 46, 184);
    background-color: blanchedalmond;
    padding: 24px;
}
#ringphoto7{
    margin-right: 200px ;
    align-content: center;
    background-color: blanchedalmond;
}
#rp7{
    text-align: center;
    color: rosybrown;
    background-color: blanchedalmond;
    padding: 20px;
}
#ring2{
    text-align: center;
    font-family: cursive;
    color: white;
    background-color: rgb(242, 180, 207);
    padding: 24px;
}
#ringphoto4{
    margin-left: 13px;
}
#rp4{
    text-align: center;
    background-color: rgba(145, 196, 169, 0.881);
    color: white;
    padding: 20px;
}
