* {
    box-sizing: border-box;
}
    
body {
    margin: 0px;
    font-family: sans-serif;
}
   
#navbar {
    background: linear-gradient(to bottom, #A58862, #3e6d3e);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: fresh_tea;
}
      
#navbar a {
    display: inline-block;
    text-decoration: none;
    border-radius: 24px;
    color: white;
    padding: 20px;
    font-size:30px;
}
#navbar a:hover {
    background-color:#A58862;
    color: white;
    border-radius:20px;
}

#navbar img {
    width: 270px;
    border-radius: 25px;
}   
#navbar #logo {
    margin-right: auto;
}
#navbar .cta-button {
    background-color: white;
    color:#537C23;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

.dropdown-container {
    position: relative;
    color: white;
}
    
.dropdown-menu {
   
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s,visibility 0.25s;
    
    
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    
}
    
#navbar .dropdown-menu a {
    color: white;
    background-color:#0e360e ;
    
    width: 100%;
    min-width: 200px;
}
    
    
#navbar .dropdown-menu a:hover {
    background: #A58862;
}
    
#background {
    background-image: url(../images/leaf.jpg);
}
.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;   
    
    background-color: rgba(255, 255, 255, 0.753);
}
    
#main-section {
    background-color:#2D260B ;
    padding: 48px;
}
       
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}
     
.side-by-side .image-container {
    flex: 1;
    
}
    
.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}
 
.side-by-side .image-container img {
    width: 100%;
}
    
.side-by-side .text-container h3 {
    font-size: 48px;
    font-family: fresh_tea;
    color: #537C23;
}
    
.side-by-side .text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color:#0e360e;
    color:white;
    padding: 24px 48px;
    border-radius: 48px;
}

.side-by-side .text-container a:hover {
    background-color: #3a5718;
}
/*Menu page*/
#hero {
    background-image: url(../images/leaf.jpg);
    padding: 24px;
}
h1 {
    font-size: 55px;
    text-align: center;
    font-family: fresh_tea;
    color: #2D260B;
}

#hero-1 {
        background-image: url("../images/food1.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;
}

#hero-1 h2 {
    font-family: fresh_tea;
    font-size: 1.5vw;
    display: inline-block;
    background-color: #0e360e;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
    border-radius: 20px;
}

#cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px;
    border: 10px solid #2D260B;
    align-items:flex-start;
}
    
.card {
    flex:300px;
    border:3px solid #2D260B;
    margin:24px;
    padding:24px;
    border-radius:12px;
    text-align:center;
    height: 100%;
}
.card a {
    text-decoration:none;
    color:black;
    display:block;
    border:3px solid black;
    padding:12px;
    margin-top:36px;
}
#card-set-1 {
    background-image: url(../images/leaf.jpg);
    padding: 24px;
}
#cards-container{
    background-image: url(../images/leaf.jpg);
    
}

#card-set-1 h1{
    text-align: center;
    color: #0e360e;
    font-size: 50px;
    font-family:fresh_tea;
    padding: 24px;
}

#card1 {
    position:relative;
    border:0px;
    padding:0px;
}
    
#card1 .card-front,
#card1 .card-back  {
    border:3px solid #0e360e;
    border-radius:12px;
    padding:24px;
}
    
#card1 .card-back {
    transform:scaleX(0);
}
    
#card1 .card-front {
    background-image:url("../images/food2.jpg");
    background-size:cover;
    border-radius:12px;
    width:100%;
    height:100%;
    position:absolute;
}
       
#card1 .card-front {
    transition:transform 0.25s 0.25s;
}
    
#card1 .card-back {
    background-color: #527c23ba;
    color: #2D260B;
    transition:transform 0.25s;
}
#card1 .card-back a {
    background-color: #0e360e;
    color: white;
}    
#card1:hover .card-front {
    transform:scaleX(0);
    transition:transform 0.25s;
}
    
#card1:hover .card-back {
    transform:scaleX(1);
    transition:transform 0.25s 0.25s;
}
#card1 a{
    color: white;
}
#card1 p{
    font-size: 24px;
    color: white;
}

#card2 {
    position:relative;
    border:0px;
    padding:0px;
}
    
#card2 .card2-front,
#card2 .card2-back  {
    border:3px solid #0e360e;
    border-radius:12px;
    padding:24px;
}
    
#card2 .card2-back {
    transform:scaleX(0);
}
    
#card2 .card2-front {
    background-image:url("../images/food3.jpg");
    background-size: cover;
    border-radius:12px;
    width:100%;
    height:100%;
    position:absolute;
}
       
#card2 .card2-front {
    transition:transform 0.25s 0.25s;
}
    
#card2 .card2-back {
    background-color: #527c23ba;
    color: #2D260B;
    transition:transform 0.25s;
}
#card2 .card2-back a {
    background-color: #0e360e;
    color: white;
}    
#card2:hover .card2-front {
    transform:scaleX(0);
    transition:transform 0.25s;
}
    
#card2:hover .card2-back {
    transform:scaleX(1);
    transition:transform 0.25s 0.25s;
}
#card2 p{
    font-size: 25px;
    color: white;
}

#card3 {
    position:relative;
    border:0px;
    padding:0px;
}
    
#card3 .card3-front,
#card3 .card3-back  {
    border:3px solid #0e360e;
    border-radius:12px;
    padding:24px;
}
    
#card3 .card3-back {
    transform:scaleX(0);
}
    
#card3 .card3-front {
    background-image:url("../images/food4.jpg");
    background-size:cover;
    border-radius:12px;
    width:100%;
    height:100%;
    position:absolute;
}
       
#card3 .card3-front {
    transition:transform 0.25s 0.25s;
}
    
#card3 .card3-back {
    background-color: #527c23ba;
    color: #2D260B;
    transition:transform 0.25s;
}
#card3 .card3-back a {
    background-color: #0e360e;
    color: white;
}    
#card3:hover .card3-front {
    transform:scaleX(0);
    transition:transform 0.25s;
}
    
#card3:hover .card3-back {
    transform:scaleX(1);
    transition:transform 0.25s 0.25s;
}
#card3 p{
    font-size: 25px;
    color: white;
}

#card4 {
    position:relative;
    border:0px;
    padding:0px;
    color: white;
}
    
#card4 .card4-front,
#card4 .card4-back  {
    border:3px solid #0e360e;
    border-radius:12px;
    padding:24px;
}
    
#card4 .card4-back {
    transform:scaleX(0);
}
    
#card4 .card4-front {
    background-image:url("../images/food5.jpeg");
    background-size:cover;
    border-radius:12px;
    width:100%;
    height:100%;
    position:absolute;
}
       
#card4 .card4-front {
    transition:transform 0.25s 0.25s;
}
    
#card4 .card4-back {
    background-color: #527c23ba;
    color: #2D260B;
    transition:transform 0.25s;
}
#card4 .card4-back a {
    background-color: #0e360e;
    color: white;
}    
#card4:hover .card4-front {
    transform:scaleX(0);
    transition:transform 0.25s;
}
    
#card4:hover .card4-back {
    transform:scaleX(1);
    transition:transform 0.25s 0.25s;
}
#card4 p{
    font-size: 25px;
    color: white;
}

#card5 {
    position:relative;
    border:0px;
    padding:0px;
}
    
#card5 .card5-front,
#card5 .card5-back  {
    border:3px solid #0e360e;
    border-radius:12px;
    padding:24px;
}
    
#card5 .card5-back {
    transform:scaleX(0);
}
    
#card5 .card5-front {
    background-image:url("../images/food6.jpg");
    background-size:cover;
    border-radius:12px;
    width:100%;
    height:100%;
    position:absolute;
}
       
#card5 .card5-front {
    transition:transform 0.25s 0.25s;
}
    
#card5 .card5-back {
    background-color: #527c23ba;
    color: #2D260B;
    transition:transform 0.25s;
}
#card5 .card5-back a {
    background-color:#0e360e;
    color: white;
}    
#card5:hover .card5-front {
    transform:scaleX(0);
    transition:transform 0.25s;
}
    
#card5:hover .card5-back {
    transform:scaleX(1);
    transition:transform 0.25s 0.25s;
}
#card5 p{
    font-size: 25px;
    color: white;
}
#card6 {
    position:relative;
    border:0px;
    padding:0px;
}
    
#card6 .card6-front,
#card6 .card6-back  {
    border:3px solid #0e360e;
    border-radius:12px;
    padding:24px;
}
    
#card6 .card6-back {
    transform:scaleX(0);
}
    
#card6 .card6-front {
    background-image:url("../images/food8.jpg");
    background-size:cover;
    border-radius:12px;
    width:100%;
    height:100%;
    position:absolute;
}
       
#card6 .card6-front {
    transition:transform 0.25s 0.25s;
}
    
#card6 .card6-back {
    background-color: #527c23ba;
    color: #2D260B;
    transition:transform 0.25s;
}
#card6 .card6-back a {
    background-color:#0e360e;
    color: white;
}    
#card6:hover .card6-front {
    transform:scaleX(0);
    transition:transform 0.25s;
}
    
#card6:hover .card6-back {
    transform:scaleX(1);
    transition:transform 0.25s 0.25s;
}
#card6 p {
    font-size: 25px;
    color:white;
}
#card7 {
    position:relative;
    border:0px;
    padding:0px;
}
    
#card7 .card7-front,
#card7 .card7-back  {
    border:3px solid #0e360e;
    border-radius:12px;
    padding:24px;
}
    
#card7 .card7-back {
    transform:scaleX(0);
}
    
#card7 .card7-front {
    background-image:url("../images/food7-2.png");
    background-size:cover;
    border-radius:12px;
    width:100%;
    height:100%;
    position:absolute;
}
       
#card7 .card7-front {
    transition:transform 0.25s 0.25s;
}
    
#card7 .card7-back {
    background-color: #527c23ba;
    color: #2D260B;
    transition:transform 0.25s;
}
#card7 .card7-back a {
    background-color:#0e360e;
    color: white;
}    
#card7:hover .card7-front {
    transform:scaleX(0);
    transition:transform 0.25s;
}
    
#card7:hover .card7-back {
    transform:scaleX(1);
    transition:transform 0.25s 0.25s;
}
#card7 p{
    font-size: 25px;
    color: white;
}
#card8 {
    position: relative;border: 0px;padding: 0px;}
    
#card8 .card8-front,
#card8 .card8-back {
    border: 3px solid #0e360e;
    border-radius: 12px;
    padding: 24px;
}
    
#card8 .card8-back {
    background-color: #527c23ba;
    color: #2D260B;
    transition:transform 0.25s;
    
}
    
#card8 .card8-front {
    background-image: url("../images/food12.avif");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}
    
    
#card8 .card8-front {
    transition: transform 0.25s;
}
    
#card8 .card8-back {
    transition: transform 0.25s 0.25s;
}
    
#card8:hover .card8-front {
    transform: scaleX(0);
}
    
#card8:hover .card8-back {
    transform: scaleX(1);
}
#card8 a{
    background-color: #0e360e;
    color: white;
}

#card8 p{
    font-size: 25px;
    color: white;
}
#card9 {
    position: relative;
    border: 0px;
    padding: 0px;
}
    
    
#card9 .card9-front,
#card9 .card9-back {
    border: 3px solid #0e360e;
    border-radius: 12px;
    padding: 24px;
}
    
#card9 .card9-back {
    transform: scaleX(0);
}
    
#card9 .card9-front {
    background-image: url("../images/food11.avif");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}
    
#card9 .card9-front {
    transition: transform 0.25s;
}
    
#card9 .card9-back {
    background-color: #527c23ba;
    color: #2D260B;
    transition: transform 0.25s 0.25s;
}
    
#card9:hover .card9-front {
    transform: scaleX(0);
}
    
#card9:hover .card9-back {
    transform: scaleX(1);
}
    
#card9 a {
    background-color: #0e360e;
    color: white;
}
#card9 p{
    font-size: 25px;
    color: white;
}

#footer {
    background: linear-gradient(to bottom, #A58862, #3e6d3e);
    color: white;
    padding: 22px;
}
    
#footer a {
    text-decoration: none;
    color: white;
}
    
#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
    


@media screen and (max-width:480px){
    body{
        background-color: #A58862;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    body {
    background-color: #0e360e;
    }
}