/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    box-sizing: border-box;
}

body {
    margin:0px;
    font-family: sans-serif;
}

.trek-card-1 {
    width: 100vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap:36px;
    justify-content: center center;

}

.card-style-1 {
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 12px #646464da;
    background-color: rgb(230, 253, 242);
    
}

.card-style-1 img {
    width: 100%;
    margin-top: 10px;
}

.card-style-1 h2 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 35px;
}

.card-style-1 p {
    font-size: 16px;
    padding: 15px;
}

.card-style-1 a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(1, 161, 1) ;
    display: inline-block;
    width: 100%;
    padding: 20px 20px 20px 20px;
    text-align: center;
    border: 3px solid rgb(1, 161, 1);
    transition: background-color 0.5s;
    color:white 0.5s;
}

.card-style-1 a:hover {
    background-color: transparent;
    border: 3px solid rgb(62, 137, 99) ;
    color:rgb(76, 201, 90);
}