*{
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}
#main-content, #second-content {
    width: 20%;
    min-width: 500px;
}

#sidebar-content {
    background-color: rgb(141, 169, 218);
    width: 250px;
    padding: 24px;
    border-right: 2px solid rgb(26, 0, 128);
}

#photo1{
    background-color: white;
    padding: 0px 12px;
    flex: 2;
    margin-left: 60%;
}
#wiki {
    margin-left: 50%;
    font-size: smaller;
}
#side-content {
    margin-left: 10%;
}
#second-content {
    
}